<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
  <%- include('../partials/header', {pagina: 'about'}); %>
  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p class="text-center text-muted">Oi sou a Bruna estudande te programação</p>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>